@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

.App {
  text-align: center;
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(25, 30, 35);
}

.errorMessage {

  font-size: 15px;
  color: rgb(25,30,35);
  padding: 5%;
  font-weight: 100;

}

.Popup {
  border: 0.5px solid rgb(25, 30, 35);
  opacity: 0;
  position: absolute;
  top: 85%;
  left: 70%;
  border: 1px solid black;
  width: 22.5%;
  height: 10%;
  background-color: rgb(255, 135, 135);
  transform: translateX(0%); /* Start position outside the viewport */
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out; /* Transition transform and opacity */
}

.Popup.submitted {
  transform: translateX(25%); /* Slide in to 25% from the right */
  opacity: 1;
}



.ModelInfo, .OwnerModelInfo {
  margin-bottom: 10px;
  font-size: 18px;
  text-align: left;
}

.OwnerModelInfo {
  width: 100%;
  position: absolute;
  left: 7.5%;
}

.Title, .ModelListTitle, .OwnerListTitle, .TrainingListTitle, .AttestationListTitle {
  color: rgb(25, 30, 35);
  position: absolute;
  font-size: 30px;
  font-weight: 100;
  transition: color 0.3s ease-in-out;
}

.Welcome {
  transition: top 2s ease-in-out;
  color: rgb(25, 30, 35);
  position: absolute;
  font-size: 30px;
  font-weight: 100;
}

.Title { left: 2.5%; top: 1%; }
.Welcome { left: 37.5%; top: 25%; }
.Marketplace { left: 40%; top: 30%; }
.ModelListTitle { left: 10%; top: 45%; }
.OwnerListTitle { left: 10%; top: 13%; font-size: 20px; }
.TrainingListTitle { left: 37.5%; top: 13%; font-size: 20px; }
.AttestationListTitle { left: 65%; top: 13%; font-size: 20px; }

.ModelList, .OwnerList, .PerformerList, .AttestationList {
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.dropdown-menu {
  display: inline-block;
  position: absolute;
  background-color: white;
  border: 0.5px solid rgb(25,30,35);
  opacity:0;
  top: 50%;
  height: 50%;
  left: 25%;
  width: 23%;
  list-style: none;
  padding: 0; /* Remove default padding */
  margin: 0;  /* Remove default margin */
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  transform: translateX(0%); /* Start position outside the viewport */
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out; /* Transition transform and opacity */
}

.dropdown-menu.submitted {
  display: inline-block;
  position: absolute;
  transform: translateX(25%); /* Slide in to 25% from the right */
  opacity: 1;
  background-color: white;
  border: 0.5px solid rgb(25,30,35);
  top: 52.5%;
  height: 40%;
  opacity:1;
  left: 22%;
  width: 23%;
  list-style: none;
  padding: 0; /* Remove default padding */
  margin: 0;  /* Remove default margin */
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  transition: transform 2s ease-in-out, opacity 1s ease-in-out; /* Transition transform and opacity */
}

.dropdown-item {
  border: 0.5px solid rgb(25, 30, 35);
  display: block;
  height: 20%;
  width: 100%;
  color: rgb(25,30,35);
  padding: 15px; /* Add padding for better spacing */
  box-sizing: border-box; /* Ensure padding is included in the element's total width */
  margin: 0; /* Ensure there's no additional margin */
  transition: background-color 0.3s ease-in-out; /* Fade-in transition */
  cursor: pointer;
  font-size: 16px; /* Adjust font size as needed */
}

.routerName {
  position: absolute;
  font-weight: 1000;
  font-size: 18px; /* Adjust font size as needed */
  top: 3%;
  left: 5%;
}

.routerReputation {
  position: absolute;
  width: 10%;
  left: 82.5%;
  height: 12%;
}

.point1 {
  position: absolute;
  background-color: green;
  top: 10%;
  width: 80%;
  left: 10%;
  height: 20%;
  border: 0.5px solid black;
}

.point2 {
  position: absolute;
  background-color: green;
  top: 40%;
  width: 80%;
  left: 10%;
  height: 20%;
  border: 0.5px solid black;
}

.point3 {
  position: absolute;
  background-color: green;
  top: 70%;
  width: 80%;
  left: 10%;
  height: 20%;
  border: 0.5px solid black;
}

.routerDescription {
  position: absolute;
  text-align: left;
  width: 60%;
  height: 7%;
  font-size: 12px; /* Adjust font size as needed */
  top: 9%;
  left: 5%;
}

.routerPrice {
  position: absolute;
  text-align: left;
  width: 60%;
  height: 7%;
  font-size: 20px; /* Adjust font size as needed */
  top: 7%;
  left: 60%;
}


.dropdown-item:hover {
  background-color: rgba(0, 0, 0, 0.1); /* Change background color on hover */
}


.ModelList { width: 80%; height: 40%; left: 10%; top: 56%; font-size: 30px; }
.OwnerList, .PerformerList, .AttestationList {
  width: 25%; height: 20%; font-size: 30px;
}
.OwnerList { left: 10%; top: 20%; }
.PerformerList { left: 37.5%; top: 20%; }
.AttestationList { left: 65%; top: 20%; }

.ModelList, .OwnerList, .PerformerList, .AttestationList, .pastContributionList {
  transition: filter 0.5s ease-in-out;
}

.ModelList.blurred, .OwnerList.blurred, .PerformerList.blurred, .AttestationList.blurred, .pastContributionList.blurred {
  filter: blur(5px);
}

.openMarketplaceButton.submitted {
  opacity: 1;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out; /* Transition transform and opacity */
}

.ConnectWalletButton, .TrainButton, .StopButton, .SubmitButton {
  background-color: rgb(25, 30, 35);
  z-index: 100;
  color: white;
  font-size: 13px;
  position: absolute;
  border: none;
  box-shadow: none;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
  height: 5%; /* Ensure consistent height */
  line-height: normal; /* Reset line-height for buttons */
  padding: 0; /* Remove default padding */
}

.openMarketplaceButton {

  background-color: rgb(255, 255, 255);
  border: 0.5px solid rgb(25,30,35);
  z-index: 100;
  color: rgb(81, 86, 91);
  font-size: 13px;
  position: absolute;
  box-shadow: none;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
  height: 5%; /* Ensure consistent height */
  line-height: normal; /* Reset line-height for buttons */
  padding: 0; /* Remove default padding */
  cursor: pointer;
  left: 28%; top: 45%; width: 7%; height: 5%;

}

.NewModel, .ConnectWalletButton {
  font-size: 13px;
}

.NewModel {
  right: 9%; width: 15%; height: 5%;
}

.ConnectWalletButton {
  cursor: pointer;
  right: 9%; top: 5%; width: 12%; height: 5%;
}

.ConnectWalletButton.connected {
  width: 25%;
}

.TrainButton, .StopButton {
  background-color: rgb(26, 17, 83);
}

.TrainButton {
  width: 10%; right: 5%; height: 10%;
}

.StopButton {
  top: 25%; width: 12.5%; right: 10%; height: 12.5%; font-size: 15px;
}

.SubmitButton {
  cursor: pointer;
  top: 40%; width: 10%; left: 65%; height: 5%;
}

.inputField {
  position: absolute; 
  z-index:100;
  font-size: 13px;
  left: 35%;
  height: 5%;
  top: 45%;
  width: 30%;
  outline: none;
  border: 1px solid #ccc; /* Add border for better visibility */
  box-sizing: border-box; /* Ensure padding and border are included in the element's total width and height */
  padding: 0 10px; /* Add some padding */
  line-height: normal; /* Reset line-height */
  transition: top 2s ease-in-out;
}

.inputField:focus {
  outline: none;
}

.answer {
  color: rgb(26, 17, 83);
  top: 50%;
  width: 20%;
  left: 35%;
  height: 10%;
  font-size: 30px;
  position: absolute;
  border: none;
  shadow: none;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.SubmitButton {
  top: 45%;
  font-size: 13px;
  transition: top 2s ease-in-out;
}

.SubmitButton.submitted, .inputField.submitted {
  top: 75%;
}

.Welcome.submitted {
  top: -50%;
}

.TrainButton:hover, .SubmitButton:hover, .CancelButton:hover, .NewModel:hover, .ConnectWalletButton:hover {
  background-color: rgb(40, 45, 55);
}

.openMarketplaceButton:hover {
  background-color: rgba(235, 242, 254, 0.8);
}

.ModelList .Model, .OwnerList .Model, .PerformerList .Model, .AttestationList .Model {
  background-color: rgb(255, 255, 255);
  width: 100%;
  flex: 1 0 20%;
  margin: 5px 0;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  display: flex;
  align-items: center;
  padding: 20px;
  justify-content: left;
  color: rgb(26, 17, 83);
  font-size: 20px;
  box-sizing: border-box;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.ModelList .Model:hover, .OwnerList .Model:hover, .PerformerList .Model:hover, .AttestationList .Model:hover {
  background-color: rgba(235, 242, 254, 0.8);
}

.message-container {
  border: none;
  width: 50%;
  top: 20%;
  position: absolute; /* Changed to relative for absolute child positioning */
  height: 50%;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* Ensures latest messages appear at the bottom */
  margin-top: 20px; /* Added margin for spacing from other elements */
  padding: 10px;
  overflow-y: auto; /* Enables scrolling */
  box-sizing: border-box; /* Ensures padding is included in height */
  opacity: 0; /* Start with opacity 0 for the fade-in effect */
  transition: opacity 3s ease-in-out; /* Fade-in transition */
}

.message-container.submitted {
  opacity: 1;
  border: 1px solid rgb(25, 30, 35);

}

.message-bubble {
  background-color: rgba(26, 17, 83, 0.1);
  border-radius: 10px;
  padding: 10px;
  margin: 10px 0;
  max-width: 80%;
  text-align: left;
}

.user-message {
  align-self: flex-end;
  background-color: rgba(26, 17, 83, 0.2);
}

.answer-message {
  align-self: flex-start;
}
